@keyframes loginregisterformanimation {
    0% {
        transform: translateY(-50em) scale(0.5);
        opacity: 0;
    }
    100% {
        position: relative;
        transform: translateY(0em) scale(1);
        opacity: 1;
    }
}

body {
    max-width: 100vw;
    margin: 0;
}

#background {
    position: fixed;
    top: 0;
}

form#register {
    display: block;
    margin: 0 auto;
    max-width: 20em;
    animation: loginregisterformanimation 1s;
}

.registerfieldset {
    display: block;
}

.registerfieldset legend {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
}

.r:valid {
    background-color: #4CAF50;
}

.r:invalid {
    color: #c0392b;
}

fieldset label {
    width: 100%;
    position: relative;
    top: 0.3em;
    display: inline-block;
}

@keyframes inputfocusanimation {
    0% {
        transform: scale(1);
        box-shadow: 0.1em 0.1em 0.1em rgba(7, 7, 33, 0.0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0.1em 0.1em 0.1em rgba(7, 7, 33, 1);
    }
}

input:focus {
    transform: scale(1);
    box-shadow: 0.1em 0.1em 0.1em rgba(7, 7, 33, 1);
    position: relative;
    animation: inputfocusanimation 0.5s;
}

input#save-password {
    margin-top: 1em;
    margin-bottom: 1em;
}

label[for="save-password"] {
    top: 0.4em;
}

.checkboxlabel {
    position: relative;
    top: -0.15em;
}

a[href="registreer.html"] {
    background: none;
    color: #0079d3;
    text-decoration: underline;
    box-shadow: none;
    margin-top: 0.5em;
    padding: 0;
}

form a {
    position: relative;
    top: 0.8em;
}
