div#background_iphone {
    background-color: #231E20;
    position: fixed;
    top: 0;
    left: 0;
    vertical-align: top;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -100;
}

#iphone-text {
    font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", "sans-serif";
    line-height: 1.2em;
    max-width: 25em;
    margin: 0 auto;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-bottom: 3em;
    background-color: rgba(248, 248, 248, 80);
    border-radius: 1em;
}

#top-bar {
    width: 100%;
    display: inline-block;
}

.e-mail-subject {
    font-size: 4em!important;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline-block;
}

#e-mail-metadata {
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    line-height: 2em;
}

h3 {
    font-weight: 100;
}

#iphone-text p {
    font-size: 1em;
}

#top-bar-image-placeholder {
    width: 10em;
}

.top-bar-image {
    height: 2.5em;
    margin-top: 1em;
    float: left;
}

span.typo {
    color: #D50000;
    text-decoration: underline;
    text-decoration-color: #D50000;
    display: inline-block;
}

@keyframes pHover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

p:hover {
    background-color: rgba(0, 0, 0, 0.15);
    animation: pHover 0.5s;
}

@keyframes typoanimation {
    from {
        color: #D50000;
        background-color: rgba(213, 0, 0, 0);
    }
    to {
        background-color: rgba(213, 0, 0, 1);
        color: #FFFFFF;
    }
}

span.typo:hover {
    background-color: rgba(213, 0, 0, 1);
    color: #FFFFFF;
    display: inline-block;
    animation: typoanimation 0.5s;
}
