@media screen and (max-width: 60rem) {
    #top-image {
        display: none;
    }
    #more_options_expand {
        margin-top: .9375rem;
    }
}

@media screen and (min-width: 60rem) {
    form #search {
        background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 3.75rem, #ffc917);
    }
    form fieldset.zoek_verhaal {
        width: 100%;
    }
    section#options {
        width: 100%;
    }
    #more_options_expand {
        float: right;
        position: relative;
        right: -2em;
        max-width: 2em;
        background-color: #e6b517;
        color: #003082;
        box-shadow: 0 -.125rem 0 #cfa317 inset;
        margin-bottom: .9375rem
    }
    .more_options_expand:hover {
        color: #003082;
        box-shadow: 0 -3.125rem 0 #cfa317 inset;
    }
    form [name="resultaten"] {
        float: right;
        display: none;
        min-width: 3em;
        max-width: 9.7em;
        display: inline-block;
        position: relative;
        right: -1em;
        height: 2.8125rem;
        padding: .625rem 1.125rem;
        vertical-align: top;
        font-weight: 400;
        white-space: nowrap;
        background-color: #0079d3;
        color: #fff;
        box-shadow: inset 0 -.125rem 0 #005ca0;
        text-align: center;
        line-height: 1.5625rem;
        font-size: 1rem;
        border: none;
        border-radius: 0;
        text-decoration: none;
        transition: box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    form [name="resultaten"]:hover  {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        box-shadow: inset 0 -3.125rem 0 #005ca0;
    }
    form .maximale_leestijd {
        display: inline-block;
        width: 25em;
    }
    form .minimale_rating {
        margin-top: 1em;
        display: inline-block;
        width: 25em;
    }
    form #categorieen {
        display: inline-block;
        width: 25em;
        position: relative;
        vertical-align: top;
    }
    form #genre {
        display: inline-block;
        width: 25em;
        vertical-align: top;
    }
}
